@import './variables';

@media screen and (max-width:600px) {
    #about{
        .about{
            flex-direction: column;
            align-items:center;
            height:auto;
            .about_block1{
                width:100%;
                display:flex;
                justify-content: center;
                .img{
                    display:flex;
                    justify-content: center;
                    
                }
            }
            .about_block2{
                width:95%;
                display:flex;
                justify-content: center;
            }
        }
    }
    #services_blocks{
		display:flex;
		flex-direction:column;
		align-items:center;
        .services_center{
            #services_blocks{
                display:flex;
                flex-direction:column;
                align-items:center;
                
                .service_block{
                    width:40%;
                    p{
                        font-size:12px;
                    }
                }
            }
        }
    }
        

    nav li a{
		text-decoration:none;
		color:$color1;
		font-size:20px;
	}
    #cover{
        #main h1{
            font-size:40px;
        }
    }
    #contact{
        .contact_block{
            flex-wrap:wrap;
            .form{
                width:100%;
            }
            .info{
                width:100%;
                .info_block{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}



@media screen and (max-width:920px){
    nav li a{
        text-decoration:none;
        color:$color1;
        font-size:20px;
    }
    header{
        display:flex;
        flex-direction: column;

        .center1{
            width:90%;
            nav{
                width:100%;
                text-align:center;
                ul{
                    li{
                        display:block;
                        text-align: center;
                        font-size:28px;
                    }
                }
            }
            #logo{
                width:100%;
                text-align:center;
            }
        }
    }
    #cover{
        background-size:100%;
    }
    #page{
        width:100%;
        margin:0px auto;
        #about{
            .about{
                flex-direction:column;
                align-items:center;
                height:auto;
                .about_block1{
                    width:100%;
                    display:flex;
                    justify-content:center;
                    .img{
                        display:flex;
                        justify-content:center;
                    }
                }
                .about_block2{
                    width:95%;
                    display:flex;
                    justify-content:center;
                }
            }
        }
    }
    #services{
        margin-top:100px;
        .services_center{
            #services_blocks{
                width: 100%;
                .service_block{
                    width:22%;
                    p{
                        font-size:12px;
                    }
                    h3{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px){
    nav li a{
		text-decoration:none;
		color:$color1;
		font-size:20px;
	}
    
    .title{
		font-size:28px;
	}
    #cover{
        #main{
            h1{
                font-size: 24px;
            }
        }
    }
    #page{
        width:100%;
        #about{
            margin-top:100px;
            .about{
                flex-direction:column;
                align-items:center;
                height:auto;
                .about_block1{
                    width:100%;
                    display:flex;
                    justify-content:center;
                    .img{
                        display:flex;
                        justify-content:center;
                        img {
                            width: 220px;
                            height: 320px;
                        }
                    }
                }
                .about_block2{
                    width:95%;
                    display:flex;
                    justify-content:center;
                    .about_info2{
                        font-size:18px;
                    }
                }
            }
        }
    }
    header{
        .center1{
            width:100%;
        }
        nav{
            width:100%;
            ul{
                li{
                    display:block;
                    margin-bottom:4px;
                    text-align:center; 
                }
            }
        }
    }
    #contact{
        margin-top:100px;
        .contact_block{
            .info{
                .info-block{
                    .info1{
                        font-size:15px;
                    }
                }
            }
        }
    }
    #projects{
        margin-top:100px;
        .projects{
            display: flex;
            flex-wrap: wrap;
            .project{
                width:90%;
		        margin-bottom:20px;
            }
        }
    }
    #services{
        margin-top:100px;
        .services_center{
            #services_blocks{
                display:flex;
	        	flex-direction:column;
                text-align: center;
                .service_block{
                    width: 60%;
                    p{
                        font-size:12px;
                    }
                    h3{
                        font-size:15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    #services{
        margin-top:100px;
        .services_center{
            #services_blocks{
                display:flex;
	        	flex-direction:column;
                text-align: center;
                .service_block{
                    width: 60%;
                    p{
                        font-size:12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:680px){
    #services{
        .services_center{
            #services_blocks{
                display:flex;
                text-align: center;
                .service_block{
                    p{
                        font-size:12px;
                    }
                    h3{
                        font-size:12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1528px){
    #page{
		width:100%;
	}
	.center1{
		width:85%;
	}
    
}

@media screen and (max-width:200px){
    #services{
        .services_center{
            #services_blocks{
                .service_block{
                    width: 40%;
                    p{
                        font-size:8px;
                    }
                    h3{
                        font-size:10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:360px){
    #services{
        margin-top:100px;
        .services_center{
            #services_blocks{
                width:100%;
                display:flex;
	        	flex-direction:column;
                text-align: center;
                .service_block{
                    width: 40%;
                    p{
                        font-size:10px;
                    }
                    h3{
                        font-size:12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:260px){
    #page{
        #about{
            .about{
                .about_block1{
                    .img{
                        display:flex;
                        justify-content:center;
                        img {
                            width: 160px;
                            height: 260px;
                        }
                    }
                }
                .about_block2{
                    .about_info2{
                        h3{
                            font-size: 12px;
                        }
                        p{
                            font-size:10px;
                        }
                    }
                }
            }
        }
    }

    #services{
        .services_center{
            #services_blocks{
                .service_block{
                    p{
                        font-size:9px;
                    }
                    h3{
                        font-size:8px;
                    }
                }
            }
        }
    }

    #cover{
        #main{
            h1{
                font-size: 26px;
            }
            #btn{
                a{
                   padding:1vh; 
                }
            }
        }
    }
}